@font-face {
  font-family: 'CustomFont';
  src: url('../public/assets/fonts/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.App-header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  font-family: 'CustomFont', sans-serif;
}

.update-layout-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.update-layout-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.App-content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  height: calc(100vh - 60px);
}

.grid-container {
  flex: 5;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-container {
  flex: 1;
  overflow: auto;
  padding: 20px;
  /* Removed the border-left property */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1001;
}